@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #f1de9ede;
  --primary-color: #47380f;
  --main-font: "Playfair Display SC", serif;
  --accent-color: #d6af71;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

ul li {
    display: inline;
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    font-weight: bold;

}

ul li a:hover {
    color: var(--accent-color);
  }

  .btn-fill {
    padding: 10px 25px;
    background: var(--accent-color);
    border: none;
    margin-left: auto;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-outline {
    background: transparent;
    border: 2px solid var(--accent-color);
    margin-left: 15px;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: bold;
    color: var(--accent-color);
    cursor: pointer;
  }

/* Nav Section End */

/* Header Section Start */

header{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.content-container{
  margin-left:6rem;
  
}

.main-headings{
  font-size: 4rem ;
  font-family: var(--main-font);
  color: #0000004f;
  margin-bottom: 2rem;

}

.main-headings span{
  color: rgba(0, 0, 0, 0.686);

}

.primary-headings{
  max-width: 500px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 2rem;
  

}

.img-container{
  width: 500px;
  height: 500px;
  background: var(--main-color);
  border-radius: 100%;
  background: radial-gradient(circle at center, #bc9f4ece, #dcae64d8);
  box-shadow: 0 0 30px rgba(185, 107, 18, 0.831);
}
.img-container img {
  width: 450px;
  height: 500px;
  margin-left: 20px;
  margin-bottom: 40px;
  object-fit: cover;
}

/* Header Section End */

/* Popularity */

.popularity{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.popularity div {
  margin-right: 3rem;
  
}

.popularity div h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary-color);
  font-family: var(--main-font);
}

.popularity p{
  font-family: var(--main-font);
  color: var(--primary-color);
}
.popularity div p {
  color: #555;
}

/* Popularity End */

/* Product Section Start */

.products-headings{
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.437);
}

.products-heading span {
  color: #0000004f;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.product .product-img-layer {
  background: var(--main-color);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  padding: 20px;
}

.product .product-img-layer .img {
  width: 200px;
  height: 300px;
}

.product .product-img-layer .img-one{
  background: url(images/5.png);
  background-size: cover;
  background-position: center;

}
.product .product-img-layer .img-two{
  background: url(images/1.png);
  background-size: cover;
  background-position: center;
  
}
.product .product-img-layer .img-three{
  background: url(images/3.png);
  background-size: cover;
  background-position: center;
  
}

.product-content {
  
  padding: 27px;
  padding-bottom: 50px;
  text-align: center;
  color: #cdbc39;
}

.product-content .product-name {
  font-family: sans-serif;
  margin-bottom: 10px;
 
}

.b-container {
  text-align: center;
}

.b-container button {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 10px;
}

/* Product Section End */


/* Why Us Start */

.why-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.why-us .img-layer {
  width: 400px;
  height: 400px;
  background: var(--main-color);
  border-radius: 100%;
}


.why-us .img-layer .img {
  width: 400px;
  height: 350px;
  background: url(images/2.png);
  background-size: cover;
  background-position: center;
}

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
}

.card.card-fill {
  background: var(--main-color);
  position: relative;
}

.card.card.card-fill .star {
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 100%;
  background: var(--primary-color);
  position: absolute;
  top: -15px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
}

.card h1 {
  color: black;
  font-family: sans-serif;
  font-size: 17px;
}

.card p {
  color: #503808;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 20px;
}

/* Why Us End */



.simple-footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #555;
}
